<h1>Hello From Show User Page</h1>
<div>
<span><h2>User Name: </h2><strong><%= @user[:name] %></strong></span>
<span><h2>Mood: </h2><strong><%= @user.mood %></strong></span>
<span><h2>Height: </h2><strong><%= @user[:height] %></strong></span>
<span><h2>Tickets: </h2><strong><%= @user[:tickets] %></strong></span>
</div>
